<h4>
  Add a new customer
</h4>
{{wrapped-input autoFocus=true value=resource.name labelText="Name" placeholder="Enter a name..."}}

{{wrapped-input value=resource.phone labelText="Phone" placeholder="Enter a phone number..."}}
{{wrapped-input value=resource.email labelText="Email" placeholder="Enter an email address..."}}
<hr/>
{{wrapped-input value=resource.address labelText="Address" placeholder="Enter a street address..."}}
{{wrapped-input value=resource.city labelText="City" placeholder="Enter a city..."}}
{{wrapped-input value=resource.zip labelText="Zip" placeholder="Enter a zip code..."}}

