{{invoice-list-header newInvoiceRoute=newInvoiceRoute}}
{{#unless isLoading}}
<hr>
{{invoice-summary summaryData=summaryData invoicesRoute=invoicesRoute}}
<hr>
<h2>{{link-to "All Invoices" invoicesRoute (query-params status="All")}} 
  {{#unless isShowingAll}}
  >> {{titleizedStatus}}
  {{/unless}}
</h2>
{{#unless isEmptyList}}
<table class="table table-condensed ember-invoicing-list">
  <thead>
    <tr>
      <th class="ember-invoicing-header">
	{{invoice-list-table-header text="Customer" route=invoicesRoute sortColumn="customer" currentSortColumn=sortColumn currentSortDirection=sortAsc}} / 
	{{invoice-list-table-header text="Invoice #" route=invoicesRoute sortColumn="number" currentSortColumn=sortColumn currentSortDirection=sortAsc}}

      </th>
      <th>
	{{invoice-list-table-header text="Sent On" route=invoicesRoute sortColumn="issuedOn" currentSortColumn=sortColumn currentSortDirection=sortAsc}}
      </th>
      <th>
	{{invoice-list-table-header text="Due Date" route=invoicesRoute sortColumn="dueOn" currentSortColumn=sortColumn currentSortDirection=sortAsc}}
      </th>
      <th class="ember-invoicing-header amount">
	{{invoice-list-table-header text="Amount" route=invoicesRoute sortColumn="amount" currentSortColumn=sortColumn currentSortDirection=sortAsc}}
	/ {{invoice-list-table-header text="Status" route=invoicesRoute sortColumn="status" currentSortColumn=sortColumn currentSortDirection=sortAsc}}
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each invoices as |invoice|}}
    <tr>
      <td class="ember-invoicing-col customer">
	{{invoice.customer}}
	<br/>
	<span class="invoice-number">
	  {{invoice.number}}
	</span>
      </td>
      <td class="ember-invoicing-col date">
	{{moment-format invoice.issuedOn "MM/DD/YYYY"}}
      </td>
      <td class="ember-invoicing-col date">{{moment-format invoice.dueOn "MM/DD/YYYY"}}</td>
      <td class="ember-invoicing-col amount">
	<span class="amount">
	  {{format-money invoice.amount}}
	</span>
	<span class='status'>
	  {{invoice.status}}
	</span>
      </td>
    </tr>
    {{/each}}
  </tbody>
  <tfoot class="ember-invoicing-list-totals">
    <tr>
      <td colspan="4">
	Total {{unless isShowingAll titleizedStatus}}: {{format-money sumOfInvoices}} </td>
    </tr>
  </tfoot>
</table>
{{else}}
<div class="blank-slate">
  {{#unless isShowingAll}}
    There are no {{titleizedStatus}} invoices.
  {{else}}
  	There are no invoices in the system.
  {{/unless}}
</div>
{{/unless}}
{{else}}
<div class="loading-message">
  {{fa-icon "spinner" spin=true}} Loading
</div>
{{/unless}}
