  <td>
    {{#if isDraft}}
      {{ember-selectize 
      content=invoiceItems
      optionValuePath="content.id"
      optionLabelPath="content.name"
      selection=invoiceItem
      select-item=(action "itemSelected")
      placeholder="Select a item..."}}
    {{else}}
      {{lineItem.invoiceItem.name}}
    {{/if}}
  </td>
  <td>
    {{#if isDraft}}
      {{input change=(action "save") value=changeset.description class="form-control"}}
    {{else}}
      {{lineItem.description}}
    {{/if}}

  </td>
  <td>
    {{#if isDraft}}
    {{input change=(action "save") type="number" value=changeset.rate class="form-control"}}
    {{else}}
      {{format-money lineItem.rate}}
    {{/if}}
  </td>
  <td>
    {{#if isDraft}}
      <a href="#" {{action "delete" lineItem}}>{{fa-icon "trash-o"}}</a>
    {{/if}}

    <span style="display:inline-block;width:20px;">
      {{#if isDirty}}
      <small>Unsaved</small>
      {{else}}
      	{{#if isSaved}}
	<small class="yellow-notice">Saved</small>
	{{/if}}
      {{/if}}
    </span>
  </td>
