<div class="row">
  <div class=" col-md-12">
    <div class="row">
      <div class="col-md-6">
	<h1>Invoice #{{invoice.number}}</h1>
      </div>
      <div class="col-md-6 margin-top-10 text-right">
	<a href="#" class="massive massive-button ui button">Resend</a>
	<a href="#" class="massive positive massive-button ui button">Edit</a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
	<div class="row">
	  <div class="col-md-4">
	    <h4>
	      {{invoice.customer.name}}
	    </h4>
	    <address>
	      <a href="mailto:{{invoice.billToEmail}}">{{invoice.billToEmail}}</a><br/>
	      {{invoice.billToAddress}}<br/>
	      {{invoice.billToCity}}, {{invoice.billToState}} {{invoice.billToZip}}<br/>
	    </address>
	  </div>
	  <div  class="text-right col-md-offset-4 col-md-4 due-card">
	    <h4>Due: 
	      {{moment-format invoice.dueOn "MM/DD/YYYY"}}
	    </h4>
	    <h4>Total: {{format-money invoice.total}}</h4>
	  </div>
	</div>

	<hr>
	<div class="row">
	  <div class="col-md-12">

	    <div class="table-responsive push-50">
	      <table class="table table-bordered table-hover">
		<thead>
		  <tr>
		    <th>Item</th>
		    <th class="text-center" style="width: 100px;">Quantity</th>
		    <th class="text-right" style="width: 120px;">Unit</th>
		    <th class="text-right" style="width: 120px;">Amount</th>
		  </tr>
		</thead>
		<tbody>
		  {{#each invoice.lineItems as |lineItem|}}
		  <tr>
		    <td>
		      <p class="font-w600 push-10">{{lineItem.invoiceItem.name}}</p>
		      <div class="text-muted">{{lineItem.description}}</div>
		    </td>
		    <td class="text-center"><span class="badge badge-primary">{{lineItem.quantity}}</span></td>
		    <td class="text-right">{{format-money lineItem.rate}}</td>
		    <td class="text-right">{{format-money lineItem.total}}</td>
		  </tr>
		  {{/each}}
		  <tr>
		    <td colspan="3" class="font-w600 text-right">Subtotal</td>
		    <td class="text-right">{{format-money invoice.subtotal}}</td>
		  </tr>
		  <tr>
		    <td colspan="3" class="font-w600 text-right">Tax</td>
		    <td class="text-right">{{format-money invoice.tax}}</td>
		  </tr>
		  <tr class="active">
		    <td colspan="3" class="font-w700 text-uppercase text-right">Total Due</td>
		    <td class="font-w700 text-right">{{format-money invoice.total}}</td>
		  </tr>
		</tbody>
	      </table>
	    </div>

	  </div>
	</div>
	<hr>
	<div class="row">
	  <div class="col-md-12">
	    <h4>Notes</h4>
	    {{invoice.notes}}
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
