{{#unless hideNewInvoice}}
{{invoice-list-header newInvoiceRoute=newInvoiceRoute}}
<hr>
{{/unless}}
{{#unless isLoading}}
{{#unless hideSummary}}
{{invoice-summary summaryData=summaryData invoicesRoute=invoicesRoute hidePaid=hidePaid hideOverdue=hideOverdue}}
<hr>
{{/unless}}
<h2>
{{#unless hideSummary}}
  {{link-to "All Invoices" invoicesRoute (query-params status="All")}} 
  {{#unless isShowingAll}}
  >> {{titleizedStatus}}
  {{/unless}}
{{else}}
{{titleizedStatus}}
{{/unless}}
</h2>
{{#unless isEmptyList}}
<table class="table table-hover table-condensed ember-invoicing-list">
  <thead>
    <tr>
      <th class="ember-invoicing-header">
	{{invoice-list-table-header text="Customer" route=invoicesRoute sortColumn="customer" currentSortColumn=sortColumn currentSortDirection=sortAsc}} / 
	{{invoice-list-table-header text="Invoice #" route=invoicesRoute sortColumn="number" currentSortColumn=sortColumn currentSortDirection=sortAsc}}
      </th>
      {{#if isShowingPoNumber}}
      <th>
	{{invoice-list-table-header text="PO #" route=invoicesRoute sortColumn="poNumber" currentSortColumn=sortColumn currentSortDirection=sortAsc}} / 
      </th>
      {{/if}}
      {{#unless isViewingDrafts}}
      <th>
	{{invoice-list-table-header text="Sent On" route=invoicesRoute sortColumn="issuedOn" currentSortColumn=sortColumn currentSortDirection=sortAsc}}
      </th>
      {{/unless}}
      {{#unless hideDueDate}}
      <th>
	{{invoice-list-table-header text="Due Date" route=invoicesRoute sortColumn="dueOn" currentSortColumn=sortColumn currentSortDirection=sortAsc}}
      </th>
      {{/unless}}
      <th class="ember-invoicing-header amount">
	{{invoice-list-table-header text="Amount" route=invoicesRoute sortColumn="total" currentSortColumn=sortColumn currentSortDirection=sortAsc}}
	/ {{invoice-list-table-header text="Status" route=invoicesRoute sortColumn="status" currentSortColumn=sortColumn currentSortDirection=sortAsc}}
      </th>

	<th>
	</th>
    </tr>
  </thead>
  <tbody>
    {{#each invoices as |invoice|}}
    {{#link-to invoiceRoute invoice.id tagName="tr"}}
      <td class="ember-invoicing-col customer">
	{{invoice.name}}
	<br/>
	<span class="invoice-number">
	  {{invoice.number}}
	</span>
      </td>
      {{#if isShowingPoNumber}}
      <td>
	{{invoice.poNumber}}
      </td>
      {{/if}}
      {{#unless isViewingDrafts}}
      <td class="ember-invoicing-col date">
	{{#if invoice.issuedOn}}
	  {{moment-format invoice.issuedOn "MM/DD/YYYY"}}
	{{else}}
		Not Sent
	{{/if}}
      </td>
      {{/unless}}

      {{#unless hideDueDate}}
      <td class="ember-invoicing-col date">
	  {{#if invoice.dueDate}}
	  {{moment-format invoice.dueDate "MM/DD/YYYY"}}
	  {{else}}
	  Not Set
	  {{/if}}
	</td>
      {{/unless}}
      <td class="ember-invoicing-col amount">
	<span class="amount">
	  {{format-money invoice.total}}
	</span>
	<span class='status'>
	  {{invoice.status}}
	</span>
      </td>
	<td class="ember-invoicing-col text-center" >
	  {{#if (and paymentComponent (eq invoice.status "outstanding"))}}
	    {{component paymentComponent onSubmitPayment=this.attrs.onSubmitPayment invoice=invoice}}
	  {{/if}}
	</td>
      {{/link-to}}
    {{/each}}
  </tbody>
  <tfoot class="ember-invoicing-list-totals">
    <tr>
      <td colspan="5">
	Total {{unless isShowingAll titleizedStatus}}: {{format-money sumOfInvoices}} </td>
    </tr>
  </tfoot>
</table>
{{else}}
<div class="blank-slate">
  {{#unless isShowingAll}}
    There are no {{titleizedStatus}} invoices.
  {{else}}
  	There are no invoices in the system.
  {{/unless}}
</div>
{{/unless}}
{{else}}
<div class="loading-message">
  {{fa-icon "spinner" spin=true}} Loading
</div>
{{/unless}}
