<div class="header">
  Edit Customer
</div>
<div class="description">
  {{input class="form-control" value=resource.name placeholder="Name"}}<br/>
  {{input class="form-control" value=resource.address placeholder="Address"}}
  {{input class="form-control" value=resource.city placeholder="City"}}
  {{input class="form-control" value=resource.state placeholder="State"}}
  {{input class="form-control" value=resource.zip placeholder="Zip"}}
  {{input class="form-control" value=resource.phone placeholder="Phone"}}
  {{input class="form-control" value=resource.email placeholder="Email"}}
</div>
